<div class="row">
  <div class="col-1-sm col-4"></div>
  <div class="col-10-sm col-4">
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
      <mat-card class="send-reset-password-card">
        <mat-card-header>
          <mat-card-title>
            <b style="font-size: xx-large;">
              <button matIconButton aria-label="Voltar para o login" (click)="goBackToLogin()">
                <mat-icon>arrow_back</mat-icon>
              </button>
              Resetar senha
            </b>
          </mat-card-title>
          <mat-card-subtitle>
            informe seu e-mail para alterar sua senha no {{APP_NAME}}.
            @if ('' != displayError()) {
            <div class="text-center">
              <span class="red-text-button">{{displayError()}}</span>
            </div>
            }
            @if ('' != displaySuccessMessage()) {
            <div class="text-center">
              <span class="green-text-button">{{displaySuccessMessage()}}</span>
            </div>
            }
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-12">
              <mat-form-field floatLabel="auto" class="full-width">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="john@doe.com" type="email" formControlName="email" />
                @if (form.get('email')?.hasError('required') && form.get('email')?.touched) {
                <mat-error>
                  O e-mail é obrigatório.
                </mat-error>
                }

                @if (form.get('email')?.hasError('email') && form.get('email')?.dirty) {
                <mat-error>
                  Informe um e-mail válido.
                </mat-error>
                }
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="row">
            <div class="col-12">
              <button [disabled]="isLoading()" class="rect-button" matButton="filled" type="submit">
                {{isLoading() ? 'Enviando...' : 'Enviar e-mail'}}
              </button>
            </div>
          </div>
          <!-- <app-loading [loading]="isLoginLoading"></app-loading> -->
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
  <div class="col-1-sm col-4"></div>
</div>
