<form [formGroup]="formUser">
  <span class="text-5xl">
    {{ new == true ? 'Novo' : 'Alterar' }} Usuário
  </span>
  <div class="my-4">
    <div class="grid grid-flow-dense grid-cols-12 gap-3 mt-4">
      <!-- Name -->
      <div class="col-span-12 sm:col-span-1 text-left sm:text-right">
        <label class="text-lg" for="name">Nome: </label>
      </div>
      <div class="col-span-12 sm:col-span-5">
        <input
          class="form-input w-full dark:bg-slate-800 bg-white focus:ring-0 border-0 border-b-2 focus:border-gray-500"
          placeholder="___" formControlName="name" required type="text" id="name" />
      </div>

      <!-- Email -->
      <div class="col-span-12 sm:col-span-1 text-left sm:text-right">
        <label class="text-lg" for="email">E-mail: </label>
      </div>
      <div class="col-span-12 sm:col-span-5">
        <input
          class="form-input w-full dark:bg-slate-800 bg-white focus:ring-0 border-0 border-b-2 focus:border-gray-500"
          placeholder="___" formControlName="email" required type="text" id="email" />
      </div>

      <!-- Erros do nome e e-mail -->
      <div class="col-span-12 sm:col-span-6">
        <div class="text-red-500 font-bold animate-pulse"
          *ngIf="formUser.get('name')?.errors && formUser.get('name')?.touched">
          O nome é obrigatório
        </div>
      </div>
      <div class="col-span-12 sm:col-span-6">
        <div class="text-red-500 font-bold animate-pulse"
          *ngIf="formUser.get('email')?.errors?.['email'] && formUser.get('email')?.touched">
          Informe um e-mail válido
        </div>
      </div>
    </div>

    <div *ngIf="new == true">
      <div class="grid grid-flow-dense grid-cols-12 gap-3 mt-4">
        <!-- Password -->
        <div class="col-span-12 sm:col-span-1 text-left sm:text-right">
          <label class="text-lg" for="password">Senha: </label>
        </div>
        <div class="col-span-12 sm:col-span-5">
          <input
            class="form-input w-full dark:bg-slate-800 bg-white focus:ring-0 border-0 border-b-2 focus:border-gray-500"
            placeholder="•••" formControlName="password" required type="password" id="password" />
        </div>

        <!-- Password verify -->
        <div class="col-span-12 sm:col-span-2 text-left sm:text-right">
          <label class="text-lg" for="verify_password">Confirmar senha: </label>
        </div>
        <div class="col-span-12 sm:col-span-4">
          <input
            class="form-input w-full dark:bg-slate-800 bg-white focus:ring-0 border-0 border-b-2 focus:border-gray-500"
            placeholder="•••" formControlName="verify_password" required type="password" id="verify_password" />
        </div>

        <!-- erros da senha e confirmar senha-->
        <div class="col-span-12 sm:col-span-7">
          <div class="text-red-500 font-bold animate-pulse"
            *ngIf="formUser.get('password')?.errors && formUser.get('password')?.touched">
            Senha é obrigatória
          </div>
        </div>
        <div class="col-span-12 sm:col-span-4">
          <div class="text-red-500 font-bold animate-pulse"
            *ngIf="formUser.get('verify_password')?.errors && formUser.get('verify_password')?.touched">
            Confirmar senha é obrigatório
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="my-4">
    <div class="grid grid-flow-dense grid-cols-12 gap-3 mt-4">
      <!-- Erro geral -->
      <div class="col-span-12 sm:col-span-12">
        <div class="text-red-500 font-bold animate-pulse" *ngIf="userError.error == true">
          {{ userError.message }}
        </div>
      </div>
    </div>
  </div>
  <div class="my-4">
    <div class="grid grid-flow-dense grid-cols-12 gap-3 mt-4">
      <div class="col-span-12 sm:col-span-8"></div>
      <div class="col-span-12 sm:col-span-2">
        <app-default-button [text]="new == true ? 'CADASTRAR': 'EDITAR'" (action)="saveUser()"
          [classes]="saveButtonClass()" [disabled]="!formUser.valid"></app-default-button>
      </div>
      <div class="col-span-12 sm:col-span-2">
        <app-default-button text="CANCELAR" (action)="goBack()" classes="bg-red-700 hover:bg-red-600"
          [disabled]="false"></app-default-button>
      </div>
    </div>
  </div>
</form>
