<form [formGroup]="formBook">
  <span class="text-5xl">
    {{ new == true ? 'Novo' : 'Alterar' }} livro
  </span>
  <div class="my-4">
    <div class="grid grid-flow-dense grid-cols-12 gap-3 mt-4">
      <!-- título -->
      <div class="col-span-12 sm:col-span-1 text-left sm:text-right">
        <label class="text-lg" for="title">Título: </label>
      </div>
      <div class="col-span-12 sm:col-span-8">
        <input
          class="form-input w-full dark:bg-slate-800 bg-white focus:ring-0 border-0 border-b-2 focus:border-gray-500"
          placeholder="___" formControlName="title" required type="text" id="title" maxlength="250"/>
      </div>

      <!-- Erros do título -->
      <div class="col-span-12 sm:col-span-3">
        <!-- Required -->
        <div class="text-red-500 font-bold animate-pulse"
          *ngIf="formBook.get('title')?.errors && formBook.get('title')?.touched && formBook.get('title')?.errors?.['required']">
          O título é obrigatório
        </div>

        <!-- Tamanho -->
        <div class="text-red-500 font-bold animate-pulse"
          *ngIf="formBook.get('title')?.errors && formBook.get('title')?.touched && formBook.get('title')?.errors?.['maxlength']">
          O título deve ter no máximo 250 caracteres
        </div>
      </div>
    </div>

    <div class="my-4">
      <div class="grid grid-flow-dense grid-cols-12 gap-3 mt-4">
        <!-- Edição -->
        <div class="col-span-12 sm:col-span-1 text-left sm:text-right">
          <label class="text-lg" for="edition">Edição: </label>
        </div>
        <div class="col-span-12 sm:col-span-1">
          <input
            class="form-input w-full dark:bg-slate-800 bg-white focus:ring-0 border-0 border-b-2 focus:border-gray-500"
            placeholder="1" mask="0000000000" formControlName="edition" required type="number" id="edition" maxlength="10" />
        </div>

        <!-- ISBN -->
        <div class="col-span-12 sm:col-span-1 text-left sm:text-right">
          <label class="text-lg" for="isbn">ISBN: </label>
        </div>
        <div class="col-span-12 sm:col-span-2">
          <input
            class="form-input w-full dark:bg-slate-800 bg-white focus:ring-0 border-0 border-b-2 focus:border-gray-500"
            placeholder="1" mask="0000000000000" formControlName="isbn" required type="text" maxlength="13" id="isbn" />
        </div>

        <!-- número de pgs -->
        <div class="col-span-12 sm:col-span-1 text-left sm:text-right">
          <label class="text-lg" for="number_pages">Nº Páginas: </label>
        </div>
        <div class="col-span-12 sm:col-span-1">
          <input
            class="form-input w-full dark:bg-slate-800 bg-white focus:ring-0 border-0 border-b-2 focus:border-gray-500"
            placeholder="1" mask="0000000000" formControlName="number_pages" required type="number" id="number_pages" maxlength="10" />
        </div>

        <!-- Ano Lançamento -->
        <div class="col-span-12 sm:col-span-1 text-left sm:text-right">
          <label class="text-lg" for="release_year">Ano Lanç.: </label>
        </div>
        <div class="col-span-12 sm:col-span-1">
          <input
            class="form-input w-full dark:bg-slate-800 bg-white focus:ring-0 border-0 border-b-2 focus:border-gray-500"
            placeholder="1" formControlName="release_year" required type="number" id="release_year" maxlength="4" mask="0000"/>
        </div>
      </div>
    </div>

    <div class="my-4">
      <div class="grid grid-flow-dense grid-cols-12 gap-3 mt-4">
        <!-- Tipo -->
        <div class="col-span-12 sm:col-span-1 text-left sm:text-right">
          <label class="text-lg" for="typeId">Tipo: </label>
        </div>
        <div class="col-span-12 sm:col-span-2">
          <select
            class="form-input w-full dark:bg-slate-800 bg-white focus:ring-0 border-0 border-b-2 focus:border-gray-500"
            formControlName="typeId" id="genre">
            <option *ngFor="let type of listTypes; let iType = index" [value]="type.id">
              {{ type.description }}
            </option>
          </select>
        </div>

        <!-- Gênero -->
        <div class="col-span-12 sm:col-span-1 text-left sm:text-right">
          <label class="text-lg" for="genreId">Gênero: </label>
        </div>
        <div class="col-span-12 sm:col-span-2">
          <select
            class="form-input w-full dark:bg-slate-800 bg-white focus:ring-0 border-0 border-b-2 focus:border-gray-500"
            formControlName="genreId" id="genre">
            <option *ngFor="let genre of listGenres; let iGenre = index" [value]="genre.id">
              {{ genre.description }}
            </option>
          </select>
        </div>

        <!-- Editora -->
        <div class="col-span-12 sm:col-span-1 text-left sm:text-right">
          <label class="text-lg" for="publisherId">Editora: </label>
        </div>
        <div class="col-span-12 sm:col-span-2">
          <select
            class="form-input w-full dark:bg-slate-800 bg-white focus:ring-0 border-0 border-b-2 focus:border-gray-500"
            formControlName="publisherId" id="genre">
            <option *ngFor="let publisher of listPublishers; let iPublisher = index" [value]="publisher.id">
              {{ publisher.name }} - {{ publisher.country }}
            </option>
          </select>
        </div>


      </div>
    </div>

    <div class="my-4">
      <div class="grid grid-flow-dense grid-cols-12 gap-3 mt-4">
        <!-- Autores -->
        <div class="col-span-12 sm:col-span-1 text-left sm:text-right">
          <label class="text-lg">Autores: </label>
        </div>

        <div class="col-span-12 sm:col-span-3">
          <select
            class="form-input w-full dark:bg-slate-800 bg-white focus:ring-0 border-0 border-b-2 focus:border-gray-500"
            name="newAuthor" id="newAuthor" formControlName="tempAuthor">
            <option value="0">Selecione...</option>
            <option *ngFor="let author of listAuthors; let iAuthor = index" [value]="author.id">
              {{ author.name }}
            </option>
          </select>
        </div>

        <div class="col-span-12 sm:col-span-2">
          <app-default-button text="ADICIONAR" (action)="addAuthorToList()" classes="bg-violet-700 hover:bg-violet-600"
            [disabled]="false"></app-default-button>
        </div>

        <div class="col-span-12 sm:col-span-12">
          <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-md text-left text-gray-700 dark:text-gray-400">
              <thead class="text-xs uppercase bg-gray-50 dark:bg-gray-700">
                <tr>
                  <th scope="col" class="px-6 py-3">#</th>
                  <th scope="col" class="px-6 py-3 sm:w-auto">Nome</th>
                  <th scope="col" class="px-6 py-3">Nasc | Morte</th>
                  <th scope="col" class="px-6 py-3 sm:w-10">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let author of formBook.value.authors; let i = index"
                  class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ author.id }}
                  </th>
                  <td class="px-6 py-4">{{ author.name }}</td>
                  <td class="px-6 py-4">{{ (author.birth_date != null)?getFormattedDate(author.birth_date):'-' }} | {{
                    (author.death_date != null)?getFormattedDate(author.death_date):'-' }}</td>
                  <td class="px-6 py-4">
                    <div class="grid grid-cols-12 gap-1 text-center">
                      <div class="col-span-12 sm:col-span-4">
                        <app-icon-button title="Excluir cadastro do autor" data-modal-target="popup-modal-delete-type"
                          data-modal-toggle="popup-modal-delete-type" (click)="removeAuthorFromList(author.id)"
                          icon="delete"></app-icon-button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="my-4">
      <div class="grid grid-flow-dense grid-cols-12 gap-3 mt-4">
        <!-- Tags -->
        <div class="col-span-12 sm:col-span-1 text-left sm:text-right">
          <label class="text-lg">Tags: </label>
        </div>

        <div class="col-span-12 sm:col-span-3">
          <select
            class="form-input w-full dark:bg-slate-800 bg-white focus:ring-0 border-0 border-b-2 focus:border-gray-500"
            name="newTag" id="newTag" formControlName="tempTag">
            <option value="0">Selecione...</option>
            <option *ngFor="let tag of listTags; let iTag = index" [value]="tag.id">
              {{ tag.description }}
            </option>
          </select>
        </div>

        <div class="col-span-12 sm:col-span-2">
          <app-default-button text="ADICIONAR" (action)="addTagToList()" classes="bg-violet-700 hover:bg-violet-600"
            [disabled]="false"></app-default-button>
        </div>

        <div class="col-span-12 sm:col-span-12">
          <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-md text-left text-gray-700 dark:text-gray-400">
              <thead class="text-xs uppercase bg-gray-50 dark:bg-gray-700">
                <tr>
                  <th scope="col" class="px-6 py-3">#</th>
                  <th scope="col" class="px-6 py-3 sm:w-auto">Descrição</th>
                  <th scope="col" class="px-6 py-3 sm:w-10">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tag of formBook.value.tags; let i = index"
                  class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ tag.id }}
                  </th>
                  <td class="px-6 py-4">{{ tag.description }}</td>
                  <td class="px-6 py-4">
                    <div class="grid grid-cols-12 gap-1 text-center">
                      <div class="col-span-12 sm:col-span-4">
                        <app-icon-button title="Excluir cadastro da tag" data-modal-target="popup-modal-delete-type"
                          data-modal-toggle="popup-modal-delete-type" (click)="removeTagFromList(tag.id)"
                          icon="delete"></app-icon-button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="my-4">
      <div class="grid grid-flow-dense grid-cols-12 gap-3 mt-4">
        <!-- Obs -->
        <div class="col-span-12 sm:col-span-1 text-left sm:text-right">
          <label class="text-lg" for="obs">Observação: </label>
        </div>
        <div class="col-span-12 sm:col-span-8">
          <textarea
            class="form-input w-full dark:bg-slate-800 bg-white focus:ring-0 border-0 border-b-2 focus:border-gray-500"
            maxlength="500" formControlName="obs" id="obs" cols="30" rows="5"></textarea>
        </div>
      </div>
    </div>

  </div>
  <div class="my-4">
    <div class="grid grid-flow-dense grid-cols-12 gap-3 mt-4">
      <!-- Erro geral -->
      <div class="col-span-12 sm:col-span-12">
        <div class="text-red-500 font-bold animate-pulse" *ngIf="bookError.error == true">
          {{ bookError.message }}
        </div>
      </div>
    </div>
  </div>
  <div class="my-4">
    <div class="grid grid-flow-dense grid-cols-12 gap-3 mt-4">
      <div class="col-span-12 sm:col-span-8"></div>
      <div class="col-span-12 sm:col-span-2">
        <app-default-button text="SALVAR" (action)="save()" [classes]="saveButtonClass()"
          [disabled]="!formBook.valid"></app-default-button>
      </div>
      <div class="col-span-12 sm:col-span-2">
        <app-default-button text="CANCELAR" (action)="goBack()" classes="bg-red-700 hover:bg-red-600"
          [disabled]="false"></app-default-button>
      </div>
    </div>
  </div>
</form>
