<div class="grid grid-cols-12 gap4">
  <div class="col-span-12">
    <span class="text-4xl">Usuários</span>
  </div>
  <div class="sm:col-span-8 col-span-12">
    <span class="text-2xl">Lista de usuários que tem acesso ao sistema.</span>
  </div>
  <div class="col-span-6 sm:col-span-2 text-right">
    <label for="per-page">Por página: </label>
    <select class="form-select border-0 dark:bg-slate-800 bg-white border-b-2 focus:ring-0 focus:border-gray-500"
      id="per-page" (change)="itensPerPageChanged()" [(ngModel)]="itensPerPage">
      <option value="1">1</option>
      <option value="5">5</option>
      <option value="10">10</option>
    </select>
  </div>
  <div class="col-span-6 sm:col-span-2">
    <div class="inline-flex rounded-md shadow-sm">
      <button class="bg-violet-700 rounded-l-lg hover:bg-violet-500 px-2 pt-1 cursor-pointer" (click)="previousPage()">
        <span class="text-white material-symbols-outlined"> chevron_left </span>
      </button>
      <span class="bg-violet-700 text-sm px-2 pt-1 cursor-pointer text-white">
        {{ currentPage }} / {{ maxPages }}
      </span>
      <button class="bg-violet-700 rounded-r-lg hover:bg-violet-500 px-2 pt-1 cursor-pointer" (click)="nextPage()">
        <span class="text-white material-symbols-outlined">
          chevron_right
        </span>
      </button>
    </div>
  </div>
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-md text-left text-gray-700 dark:text-gray-400">
    <thead class="text-xs uppercase bg-gray-50 dark:bg-gray-700">
      <tr>
        <th scope="col" class="px-6 py-3">#</th>
        <th scope="col" class="px-6 py-3">Nome</th>
        <th scope="col" class="px-6 py-3">E-mail</th>
        <th scope="col" class="px-6 py-3 sm:w-56">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of listUsers; let i = index" class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          {{ user.id }}
        </th>
        <td class="px-6 py-4">{{ user.name }}</td>
        <td class="px-6 py-4">{{ user.email }}</td>
        <td class="px-6 py-4">
          <div class="grid grid-cols-12 gap-1 text-center">
            <div class="col-span-12 sm:col-span-4">
              <a href="/usuarios/{{ user.id }}/detalhes">
                <app-icon-button icon="visibility"></app-icon-button>
              </a>
            </div>
            <div class="col-span-12 sm:col-span-4">
              <a href="/usuarios/{{ user.id }}/editar">
                <app-icon-button icon="edit"></app-icon-button>
              </a>
            </div>
            <div class="col-span-12 sm:col-span-4">
              <app-icon-button data-modal-target="popup-modal-delete-user" data-modal-toggle="popup-modal-delete-user"
                (click)="openConfirmDeleteUser(user.id)" icon="delete"></app-icon-button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-confirm-dialog modalId="delete-user" (noAction)="finishDeleteUser()" (yesAction)="confirmDeleteUser()"
  firstLineText="Tem certeza que deseja deletar este usuário?" secondLineText="Esta ação não poderá ser desfeita."></app-confirm-dialog>
