<form [formGroup]="formLogin">
  <div>
    <h1>Libevilaqua</h1>
    <h3>Entre em sua conta</h3>
    <div *ngIf="loginError === 1" class="mensagem_erro">
      Login ou senha incorretos
    </div>
  </div>
  <div>
    <div>
      <input formControlName="email" required type="email" id="email" />
      <label for="email">E-mail</label>
    </div>
    <div
      class="mensagem_erro"
      *ngIf="formLogin.get('email')?.errors?.['email'] && formLogin.get('email')?.touched"
    >
      Informe um e-mail válido
    </div>
  </div>
  <div>
    <div>
      <input
        formControlName="password"
        required
        type="password"
        id="password"
      />
      <label for="password">Password</label>
    </div>
    <div
      class="mensagem_erro"
      *ngIf="formLogin.get('password')?.errors?.['required'] && formLogin.get('password')?.touched"
    >
      Informe a senha
    </div>
  </div>
  <div>
    <button
      [disabled]="!formLogin.valid"
      [ngClass]="signInValid()"
      (click)="signIn()"
    >
      Entrar
    </button>
  </div>
</form>
