<form [formGroup]="formTag">
  <span class="text-5xl">
    {{ new == true ? 'Novo' : 'Alterar' }} tag
  </span>
  <div class="my-4">
    <div class="grid grid-flow-dense grid-cols-12 gap-3 mt-4">
      <!-- description -->
      <div class="col-span-12 sm:col-span-1 text-left sm:text-right">
        <label class="text-lg" for="description">Descrição: </label>
      </div>
      <div class="col-span-12 sm:col-span-5">
        <input
          class="form-input w-full dark:bg-slate-800 bg-white focus:ring-0 border-0 border-b-2 focus:border-gray-500"
          placeholder="___" formControlName="description" required type="text" id="description" />
      </div>

      <!-- Erro da descrição -->
      <div class="col-span-12 sm:col-span-6">
        <div class="text-red-500 font-bold animate-pulse"
          *ngIf="formTag.get('description')?.errors && formTag.get('description')?.touched">
          A descrição é obrigatória
        </div>
      </div>
    </div>

  </div>
  <div class="my-4">
    <div class="grid grid-flow-dense grid-cols-12 gap-3 mt-4">
      <!-- Erro geral -->
      <div class="col-span-12 sm:col-span-12">
        <div class="text-red-500 font-bold animate-pulse" *ngIf="tagError.error == true">
          {{ tagError.message }}
        </div>
      </div>
    </div>
  </div>
  <div class="my-4">
    <div class="grid grid-flow-dense grid-cols-12 gap-3 mt-4">
      <div class="col-span-12 sm:col-span-8"></div>
      <div class="col-span-12 sm:col-span-2">
        <app-default-button text="SALVAR" (action)="save()"
          [classes]="saveButtonClass()" [disabled]="!formTag.valid"></app-default-button>
      </div>
      <div class="col-span-12 sm:col-span-2">
        <app-default-button text="CANCELAR" (action)="goBack()" classes="bg-red-700 hover:bg-red-600"
          [disabled]="false"></app-default-button>
      </div>
    </div>
  </div>
</form>
