<div class="row">
  <div class="col"></div>
  <div class="col">
    <mat-card class="reset-password-card">
      <mat-card-header>
        <mat-card-title>
          <b style="font-size: xx-large;">
            Confirmar acesso à biblioteca
          </b>
        </mat-card-title>
        <mat-card-subtitle>
          Estamos validando o seu acesso à biblioteca no app {{APP_NAME}}.
          @if ('' != displayError()) {
          <div class="text-center">
            <span class="red-text-button">{{displayError()}}</span>
          </div>
          }
          @if ('' != displaySuccessMessage()) {
          <div class="text-center">
            <span class="green-text-button">{{displaySuccessMessage()}}</span>
          </div>
          }
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
        <button class="rect-button" [disabled]="!enableButton()" matButton="filled" type="submit"
          (click)="goToLogin()">Ir para
          o login</button>
        <!-- <app-loading [loading]="isLoginLoading"></app-loading> -->
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col"></div>
</div>
