@import "assets/pure.css";
@import "assets/buttons.css";
@import "assets/menu.css";
@import "assets/helpers.css";
@import "assets/pure-overrides.css";

body {
  color: #ffffff;
  background-color: #313131;
}

a {
  text-decoration: none;
}

a :visited{
  color: #ffffff;
}

.main-table {
  width: 100%;
}

.thead-id {
  width: 3%;
}

.thead-actions {
  width: 10%;
}
