<div *ngIf="bookFound; else templateBookNotFound">
  <div class="grid grid-cols-12">
    <div class="col-span-12 sm:col-span-11 text-2xl mb-3">
      Detalhes do livro
    </div>
    <div class="col-span-12 sm:col-span-1">
      <app-default-button text="EDITAR" (action)="goToBookEdit()"
        classes="bg-violet-700 hover:bg-violet-600"></app-default-button>
    </div>
  </div>
  <div class="grid grid-cols-12 grid-rows-2">
    <div class="col-span-12 sm:col-span-1 text-xl">
      <b>#{{ book.id != 0 ? book.id : "" }}</b>
    </div>
    <div class="col-span-12 sm:col-span-11 text-xl">
      <b>Título:</b> {{ book.title }}
    </div>
  </div>

  <div class="grid grid-cols-12 grid-rows-2">
    <div class="col-span-12 sm:col-span-1 text-xl">
      <b>Edição:</b> {{ book.edition }}
    </div>
    <div class="col-span-12 sm:col-span-2 text-xl">
      <b>ISBN:</b> {{ book.isbn }}
    </div>
    <div class="col-span-12 sm:col-span-2 text-xl">
      <b>Páginas:</b> {{ book.number_pages }}
    </div>
    <div class="col-span-12 sm:col-span-2 text-xl">
      <b>Ano de lançamento:</b> {{ book.release_year }}
    </div>
  </div>

  <div class="grid grid-cols-12 grid-rows-2">
    <div *ngIf="book.type != null" class="col-span-12 sm:col-span-2 text-xl">
      <b>Tipo:</b> {{ book.type.description }}
    </div>
    <div *ngIf="book.genre != null" class="col-span-12 sm:col-span-2 text-xl">
      <b>Gênero:</b> {{ book.genre.description }}
    </div>
    <div *ngIf="book.publisher != null" class="col-span-12 sm:col-span-2 text-xl">
      <b>Editora:</b> {{ book.publisher.name }}
    </div>
    <div *ngIf="book.publisher != null" class="col-span-12 sm:col-span-2 text-xl">
      <b>País:</b> {{ book.publisher.country }}
    </div>
  </div>

  <div class="grid grid-cols-12 grid-rows-1">
    <div class="col-span-12 sm:col-span-11 text-xl">
      Autores:
    </div>
  </div>
  <div *ngIf="book.authors.length > 0; else withoutAuthorsTemplate" class="grid grid-cols-12 grid-rows-1">
    <div class="col-span-12 sm:col-span-12 text-xl">
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-md text-left text-gray-700 dark:text-gray-400">
          <thead class="text-xs uppercase bg-gray-50 dark:bg-gray-700">
            <tr>
              <th scope="col" class="px-6 py-1">#</th>
              <th scope="col" class="px-6 py-1">Nome</th>
              <th scope="col" class="px-6 py-1">Nasc | Morte</th>
              <th scope="col" class="px-6 py-1 sm:w-56">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let author of book.authors; let i = index"
              class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
              <th scope="row" class="px-6 py-1 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{ author.id }}
              </th>
              <td class="px-6 py-1">{{ author.name }}</td>
              <td class="px-6 py-1">{{ (author.birth_date != null)?getFormattedDate(author.birth_date):'-' }} | {{
                (author.death_date != null)?getFormattedDate(author.death_date):'-' }}</td>
              <td class="px-6 py-1">
                <div class="grid grid-cols-12 gap-1 text-center">
                  <div class="col-span-12 sm:col-span-4">
                    <a href="/autores/{{ author.id }}/detalhes">
                      <app-icon-button title="Ver cadastro do autor" icon="visibility"></app-icon-button>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-12 grid-rows-1">
    <div class="col-span-12 sm:col-span-11 text-xl">
      Tags:
    </div>
  </div>
  <div *ngIf="book.tags.length > 0; else withoutTagsTemplate" class="grid grid-cols-12 grid-rows-1">
    <div *ngFor="let tag of book.tags; let i = index"
      class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-xs font-semibold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400 inline-flex items-center justify-center">
      {{ tag.description }}
    </div>
  </div>

  <div class="grid grid-cols-12 grid-rows-2">
    <div class="col-span-12 sm:col-span-12 text-xl">
      <b>Observação:</b> {{ book.obs }}
    </div>
  </div>
</div>

<ng-template #templateBookNotFound>
  <app-page-not-found></app-page-not-found>
</ng-template>

<ng-template #withoutAuthorsTemplate>
  <div class="grid grid-cols-12 grid-rows-1">
    <div class="col-span-12 sm:col-span-11 text-xl">
      <b>Sem autores vinculados</b>
    </div>
  </div>
</ng-template>

<ng-template #withoutTagsTemplate>
  <div class="grid grid-cols-12 grid-rows-1">
    <div class="col-span-12 sm:col-span-11 text-xl">
      <b>Sem tags vinculadas</b>
    </div>
  </div>
</ng-template>