<div class="grid grid-cols-12 sm:hidden">
  <div class="col-span-2">
    <button
      id="buttonSideBarMenu"
      data-drawer-target="default-sidebar"
      data-drawer-toggle="default-sidebar"
      aria-controls="default-sidebar"
      type="button"
      class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
    >
      <span class="sr-only">Open sidebar</span>
      <span class="material-symbols-outlined"> menu </span></button
    >
  </div>
  <div class="col-span-10 align-middle pt-3">
    <span class="text-xl font-semibold">Libevilaqua</span>
  </div>
</div>

<aside
  id="default-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar"
>
  <div
    class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800 border-r-2 border-gray-200 dark:border-gray-700"
  >
    <ul class="space-y-2 font-medium">
      <li>
        <span (click)="closeMenu()" class="sm:hidden material-symbols-outlined">
          menu
        </span>
        <div class="font-semibold text-xl">Libevilaqua</div>
      </li>
      <li>
        <div *ngIf="currentTheme == 'dark'; else lightMode">
          <button
            (click)="swithTheme()"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white"
          >
            <span class="cursor-pointer material-symbols-outlined"
              >light_mode
            </span>
            <span class="ml-3">Mudar tema</span>
          </button>
        </div>
      </li>
      <li>
        <a
          id="menu-inicio"
          [ngClass]="
            isSelected('inicio') +
            ' flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group'
          "
          href="/inicio"
        >
          <span class="material-symbols-outlined"> home </span>
          <span class="ml-3">Início</span>
        </a>
      </li>
      <!--<li>
        <a
          id="menu-login"
          [ngClass]="
            isSelected('login') +
            ' flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group'
          "
          href="/login"
        >
          <span class="material-symbols-outlined"> login </span>
          <span class="flex-1 ml-3 whitespace-nowrap">Login</span>
        </a>
      </li> -->
      <li>
        <a
          id="menu-tipo"
          [ngClass]="
            isSelected('tipos') +
            ' flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group'
          "
          href="/tipos"
        >
          <span class="material-symbols-outlined"> bookmark </span>
          <span class="flex-1 ml-3 whitespace-nowrap">Tipos</span>
        </a>
      </li>
      <li>
        <a
          id="menu-usuario"
          [ngClass]="
            isSelected('usuarios') +
            ' flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group'
          "
          href="/usuarios"
        >
          <span class="material-symbols-outlined"> person </span>
          <span class="flex-1 ml-3 whitespace-nowrap">Usuários</span>
        </a>
      </li>
      <li>
        <a
          (click)="logout()"
          id="menu-usuario"
          [ngClass]="
            isSelected('logout') +
            ' flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group'
          "
          href="/usuarios"
        >
          <span class="material-symbols-outlined"> logout </span>
          <span class="flex-1 ml-3 whitespace-nowrap">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

<ng-template #lightMode>
  <button
    (click)="swithTheme()"
    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white"
  >
    <span class="cursor-pointer material-symbols-outlined">dark_mode </span>
    <span class="ml-3">Mudar tema</span>
  </button>
</ng-template>
